.framed-text-block {
    background: var(--components-block-color);
    padding: var(--spacing-global) 50px;
    border-radius: 20px;
    margin: 20px auto;
}


.framed-text-block h2 {
    color: var(--secondary-color);
}



@media screen and (max-width: 800px) {
    .framed-text-block {
        padding: var(--spacing-global);
    }
    
}